<div class="uk-container">
    <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m  line-borderleft uk-margin-top">
      <h2 class="uk-card-title-small ukh3 uk-expand "><i class="iconback" uk-icon="icon:arrow-left; ratio:1.2 " onClick="history.go(-1)"></i>
        Dados do Cliente</h2>
      <hr>

         <div class="uk-card">          
      
                <div class="text-muted"><strong style="margin-top: 10px;">Nome : </strong>
                <span>{{customer.nomeCompleto}}</span></div>
                 
                <div class="text-muted"> <strong>Celular : </strong>
                <span>{{customer.contato}}</span ></div>
                
                <div class="text-muted"> <strong > Email : </strong>
                <span>{{customer.email}}</span></div>
         
                <div class="text-muted">  <strong> Nascimento: </strong>
                <span>{{customer.dataNascimeto | date:'dd/MM/yyyy'}}</span></div>

                <!-- <div class="text-muted">  <strong > Sexo: </strong>
                <span>{{client.Sexo}}</span></div> -->

                <!-- <div class="text-muted">  <strong > Resgate: </strong>
                <span>{{client.Resgate}}</span></div> -->

                <div class="text-muted">  <strong > Saldo : </strong>
                <span>{{customer.saldo}}</span></div>

                <div class="text-muted">  <strong > Captação : </strong>
                <span>{{ (customer.captado) | currency: 'BRL'}}</span></div>

                <div class="text-muted">  <strong > Gasto Médio : </strong>
                <span>{{ (customer.gastoMedio) | currency: 'BRL'}}</span></div>

                <div class="text-muted">  <strong > Ultima Visita : </strong>
                <span>{{customer.ultimaVisita | date:'dd/MM/yyyy HH:mm:ss'}}</span></div>

                <div class="text-muted">  <strong > Perfil : </strong>
                <span>{{customer.segmentacao}}</span></div>

                <div class="text-muted">  <strong > Segmento : </strong>
                <span>{{customer.segCustomizado}}</span></div>
    
       </div>
  </div>
</div>