<div [hidden]="show" class=" uk-position-left uk-visible@l uk-padding-top uk-overlay-default uk-flex uk-flex-middle " >
  <!--MENU LATERAL-->
  <div class="uk-nav uk-padding-small uk-iconnav uk-iconnav-vertical nav-fixed" style="box-shadow: 0px 0px 4px 2px rgba(59, 26, 54, 0.185);">

    <li class="uk-margin-small-bottom uk-active " uk-tooltip="title: Visão Geral; delay: 100; pos: right"> <a
        routerLink="/home"><i class="cor large material-icons margin-70">home</i></a></li>

    <li class="uk-margin-small-bottom"  uk-tooltip="title: Clientes; delay: 100; pos: right"><a
        routerLink="/list-customer"><i class="cor large material-icons corIconNav ">people</i></a></li>

    <li class="uk-margin-small-bottom" uk-tooltip="title: Marketing; delay: 100; pos: right"><a
        routerLink="/marketing/list-campaign"><i class=" large fa fa-rocket " style=" font-size: 20px;" aria-hidden="true"></i></a></li>

    <li class="uk-margin-small-bottom" uk-tooltip="title: Fidelidade; delay: 100; pos: right"><a
       routerLink="/config/point-edit"><i class=" large material-icons ">loyalty</i></a></li>
    <li class="uk-margin-small-bottom" uk-tooltip="title: Suporte via Whatsapp?; delay: 100; pos: right "  style="color: blueviolet;">
      <a href="https://api.whatsapp.com/send?phone=63992816178&text=fale%20conosco%20pelo%20WhatsApp"> 
         <i class="cor large material-icons">help_outline</i></a></li>
    

    <li class="uk-margin-small-bottom" uk-tooltip="title: Controle de Usuários; delay: 100; pos: right">
      <a routerLink="/list-employee">
        <i class="cor large material-icons">person</i>
      </a>
    </li>
  </div>
