<div class="uk-container">
    <div class="uk-card uk-card-default uk-card-bodyy uk-width-1-1@m  uk-margin-top uk-flex-center   line-borderleft ">
      <div uk-grid>
        <div class="uk-width-expand">

          <h3 class="uk-card-title-small ukh3 uk-expand "><i class="iconback" uk-icon="icon:arrow-left; ratio:1.2 "
              onClick="history.go(-1)"></i>
            Criar Campanha
          </h3>
        </div>
      </div>
      <hr>
      <form [formGroup]="form" class="uk-form-stacked">
        <div class="uk-grid uk-grid-small uk-child-width-expand@s " uk-grid>

          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-stacked-select">Segmento</label>
            <div class="uk-form-controls">
              <select class="uk-select" id="form-stacked-select" formControlName="Segmento" >
                <option>Selecione</option>
                <option value="0">Vip</option>
                <option value="1">Ouro</option>
                <option value="2">Prata</option>
                <option value="3">Bronze</option>
                <option value="4">Recorrentes</option>
                <option value="5">Eventuais</option>
                <option value="6">Ativos</option>
              </select>
            </div>
          </div>

          <div hidden class="uk-width-1-4@s">
            <label  class="uk-form-label" for="form-stacked-select" >Canal de Comunicação</label>
            <div class="uk-form-controls">
              <select  class="uk-select" id="form-stacked-select" formControlName="Tipo"  >
                <option value="0">SMS</option>
              </select>
            </div>
          </div>
        </div>

          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-stacked-text">Nome da Campanha</label>
            <div class="uk-form-controls">
              <input class="uk-input " formControlName="Nome" type="text" placeholder="Exemplo: promoção dia das mães">
            </div>
          </div>
        </div>
        <!--uk-grid-->
           
        <br>
        <div class="uk-alert-warning" uk-alert>
          <p>Evite utilizar acentos e caracteres especiais na mensagem abaixo.</p>
        </div>

        <div class="uk-margin">
          <label class="uk-form-label" for="form-stacked-text">Qual mensagem deseja enviar?</label>
          <textarea class="uk-textarea" rows="5" formControlName="Conteudo"
            placeholder="Digite sua mensagem com até 160 caracteres."></textarea>
        </div>
        <!--   
            <div class="uk-text-left">
              <button class="uk-button buttonSMS" routerLink="/model-message"> <i uk-icon="icon: commenting; ratio: 1.1"> </i> Modelos Prontos</button>
            </div> -->

        <div uk-grid>
        <div class="uk-width-1-2@s">
          <label class="uk-form-label" for="form-stacked-select">Agendar Envio</label>
          <input [matDatepicker]="myDatepicker" class="uk-input" class="uk-form-controls  formDatepicke"
            formControlName="DataEnvio" placeholder="">
          <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker color="accent"></mat-datepicker>
        </div>

          <!-- <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-stacked-select">Será enviada mais de uma vez?</label>
            <div class="uk-form-controls">
              <select class="uk-select" id="form-stacked-select" formControlName="Reenviar" placeholder="Selecione">
                <option>Selecione</option>
                <option value="0">Não</option>
                <option value="1">Sim</option>
              </select>
          </div>
        </div> -->
            </div>
        <hr>

        <button class="uk-button buttonSave" (click)="Submit()" [disabled]="form.invalid"><i class="fa fa-paper-plane"
            aria-hidden="true"></i> Enviar Campanhar!</button>
      </form>
    </div>
  </div>
