<div class="uk-card uk-card-default uk-card-body  line-borderleft ">

  <h2 class="uk-card-title-small ukh3 uk-expand "> Resgatar</h2>
  <form [formGroup]="form" class="uk-form-stacked">


    <div class="uk-margin">
      <label class="uk-form-label" for="form-stacked-text">Contato (Celular)</label>
      <div class="uk-inline">
      <div class="uk-form-controls">
        <a class="uk-form-icon"><i class="material-icons">contact_phone</i></a>     
        <input class="uk-input  uk-form-large uk-form-width-large" (keypress)="seach($event)"  mask="(00) 00000-0000"
         formControlName="Telefone" id="form-stacked-text" type="text"

          placeholder="Digite o celular do cliente">
      </div>
      </div>
    </div>
<!--   
    <div class="uk-margin">
      <label class="uk-form-label" for="form-stacked-text">Codigo Prêmio</label>
      <div class="uk-inline">
        <div class="uk-form-controls">
          <a class="uk-form-icon"><i class="material-icons">local_play</i></a>    
        <input class="uk-input uk-form-large uk-form-width-large" formControlName="CodPremio" id="form-stacked-text" type="text"
          placeholder="Digite o codigo do Prêmio">
      </div>
    </div>
    </div> -->

  
    
    <button class="uk-button uk-button-primary buttonSave" (click)="seach()">Buscar</button>
  </form>

  
 
  <div *ngFor="let item of ListAward$ | async">
  <div class="uk-card  uk-card-default uk-card-bodyy uk-margin-top line-borderleft"> 
    
    <div><h4 class="uk-margin-remove">{{item.Nome}}</h4></div>
      <div class="uk-margin-remove"><strong class="uk-text-large uk-text-success ">{{item.Saldo}}/</strong ><span class="uk-text-bold "> item.{{PontosNecessario}} pontos</span></div>
       
     <progress id="js-progressbar" class="uk-progress "value="{{item.Saldo}}" max="{{item.PontosNecessario}}"></progress>

<script>

    UIkit.util.ready(function () {

        var bar = document.getElementById('js-progressbar');

        var animate = setInterval(function () {

            bar.value += 10;

            if (bar.value >= bar.max) {
                clearInterval(animate);
            }

        }, 1000);

    });

</script>
      <button class="uk-button botaoResgatar uk-button-small  uk-margin-remove-last-child"  (click)="rescue([(item.id)],[(item.saldo)] )" >Resgatar</button>
    
 
  </div>
    
   
  </div>

</div>