<div class="uk-container uk-margin-top ">
    <div class="uk-flex-center">
      <div class="uk-card uk-card-default uk-border-rounded uk-card-bodyy uk-width-1-2@m uk-position-center ">
        <h2 class="uk-card-title-small ukh3 "> <a  class="iconback" uk-icon="icon:arrow-left; ratio:1.2 " onClick="history.go(-1)  "></a> 
          Modelos de mensagens
        </h2>
        <table class="uk-table uk-table-middle uk-table-divider uk-table-hover">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Conteudo</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr >
                    <td></td>
                    <td class="uk-text-truncate"></td>
                    <td>
                        <button class="buttonPlus" (click)="ShowMessage()">Selecionar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>