<form [formGroup]="form" class="uk-form-stacked">

  <div class="uk-margin">
    <!--OBS: adicionar hidden no input abaixo para oculta campo-->
    <input hidden class="uk-input uk-form-default"  formControlName="Id" type="text"
      placeholder="Id do Programa de fidelidade"
      >
  </div>

  <!-- 
   <div class="uk-margin">
    <label class="uk-form-label" for="form-stacked-text">Nome</label>
    <div class="uk-form-controls">
       <input class="uk-input uk-form-default uk-padding" id="form-stacked-text" formControlName="Descricao"  type="text" placeholder="Descrição do programa de fidelidade"
       [ngClass]="{'uk-form-danger': (!form.controls.Descricao.valid && !form.controls.Descricao.pristine) }">
     </div>
   </div> -->
  <div class="uk-margin">
    <label class="uk-form-label" >Valor minimo para ganhar pontos?</label>
    <div class="uk-form-controls">
      <input class="uk-input uk-form-default uk-padding" mask="separator" thousandSeparator="." 
        formControlName="Valor" type="text" placeholder="R$ Exemplo:R$ 1=1 ponto"
        [ngClass]="{'uk-form-danger': (!form.controls.Valor.valid && !form.controls.Valor.pristine) }">
    </div>
  </div>

  <div class="uk-margin">
    <label class="uk-form-label" for="form-stacked-text">Equivalem a quantos pontos?</label>
    <div class="uk-form-controls">
      <input class="uk-input uk-form-default uk-padding"  formControlName="Ponto" type="text"
        placeholder="Digite a quantidade de pontos"
        [ngClass]="{'uk-form-danger': (!form.controls.Ponto.valid && !form.controls.Ponto.pristine) }">
    </div>
  </div>

  <div class="uk-margin">
    <label class="uk-form-label" for="form-stacked-text">Tempo de expiração de pontos em Dias?</label>
    <div class="uk-form-controls">
      <input class="uk-input uk-form-default uk-padding"  type="text" formControlName="Validade"
        [ngClass]="{'uk-form-danger': (!form.controls.Validade.valid && !form.controls.Validade.pristine)}"
        placeholder="Exemplo: 365">
    </div>
    <span *ngIf="this.GetRule() == null" formControlName="Validade"></span>
  </div>
  <!--Button-->

  <div class="uk-text-left">
    <button class="uk-button buttonSave"  [disabled]="form.invalid" (click)="submit()"><i uk-icon="icon: check; ratio: 1.1"></i>Salvar</button>
  </div>

</form>
