<div class="uk-container">
    <div class="uk-card uk-card-default uk-card-body uk-width-1@m  line-borderleft uk-margin-top">
      <h2 class="uk-card-title-small ukh3 uk-expand "><i class="iconback" uk-icon="icon:arrow-left; ratio:1.2 " onClick="history.go(-1)"></i>
        Usuários: funcionário
      </h2>
     
      
        <div class="uk-text-right">
          <div class="uk-width-auto"  style="margin-top: -55px;"> <i class=" btn-custom uk-link uk-aling-center-right uk-margin" type="button"
              uk-tooltip="title: Novo Usuário" uk-icon="icon:  plus-circle; ratio: 1.4 "
              routerLink="/new-employee"></i>
          </div>
        </div>
         <hr>


        <div>
         <div class=" uk-card">
            <table class=" uk-table uk-table-striped">
              <tbody>
                <tr  class="uk-card" *ngFor=" let item of ListUserEmployee$ | async" >
                  <div class="uk-panel uk-width-1-1">
                    <td>
                        <div class=" uk-first-column">                            
                           <div class=" uk-margin-remove-bottom "><span class="uk-text-bold">{{item.nomeCompleto}}</span></div>
                           <div ><span>{{item.email}}</span></div>                        
                        </div>
                          <div class=" uk-width-1-4@m uk-first-column" >    
                            <div  class="uk-position-center-right" >
                                <div>  
                                    <i routerLink="/edit-employee/{{item.id}}" uk-tooltip="title: Alter dados; pos: bottom" class="fas fa-pen uk-button-Edit"></i>
                                    <i (click)="Delete(item.id)" uk-tooltip="title: Excluir Usuário; pos: bottom" class=" fas fa-trash-alt uk-buttonDelte "></i>
                                </div> 
                            </div>

                          </div>
                    
                    </td>   
                  </div>               
                  </tr>
              </tbody>
            </table>  
        
        </div>
      </div> 
      




  </div>
       
 </div>
  
