
<div class="uk-container uk-margin-top">
  <div class="uk-child-width-expand@s uk-text-center " uk-grid>
    <div>
      <div class="uk-card uk-card-default card-round  ">
        <div class="uk-card-header ">
          <div class="uk-grid-small " uk-grid>
            <div class="uk-width-auto" >
                <span class="iconStyle" uk-icon="icon: plus-circle; ratio: 1.4;" > </span>
            </div>
            <div class="uk-width-expand ">
           
              <a routerLink="/preCadastro" uk-tooltip="title: Pré-Cadastro de clientes; pos:bottom" class=" uk-button uk-button-text uk-text-truncate ">Pré- cadastro</a>
            </div>
          </div>
        </div>
        
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-default card-round ">
        <div class="uk-card-header">
          <div class="uk-grid-small " uk-grid>
            <div class="uk-width-auto">
                <i class=" Medium material-icons iconStyle" >stars</i>
            </div>
            <div class="uk-width-expand " >
                <a routerLink="/point" class="uk-button uk-button-text">Bonificar</a>
              
            </div>
          </div>
        </div>
       
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-default card-round">
        <div class="uk-card-header">
          <div class="uk-grid-small " uk-grid>
            <div class="uk-width-auto">
               
               <a><i class="fa fa-rocket iconStyle"  aria-hidden="true"  ></i></a>
       
            </div>
            <div class="uk-width-expand">
                <a routerLink="" class=" uk-button uk-button-text">Automações</a>
              
            </div>
          </div>
        </div>     
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-default card-round">
        <div class="uk-card-header">
          <div class="uk-grid-small " uk-grid>
            <div class="uk-width-auto">              
               <a routerLink="/config/listPoint"><i class=" large material-icons iconStyle">loyalty</i></a> 
            </div>
            <div class="uk-width-expand">
              <a routerLink="/config" class=" uk-button uk-button-text">Fidelidade</a>
            </div>
          </div>
        </div>
       
      </div>
    </div>
 
    <div>
      <div class="uk-card uk-card-default card-round">
        <div class="uk-card-header">
          <div class="uk-grid-small " uk-grid>
            <div class="uk-width-auto">
                <i class=" Medium material-icons iconStyle">sentiment_very_satisfied</i>
            </div>
            <div class="uk-width-expand">
           
              <a routerLink="/preCadastro" class=" uk-button uk-button-text">Avaliações</a>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
