<div class="uk-container">
  <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m  line-borderleft uk-margin-top">
    <h2 class="uk-card-title-small ukh3 uk-expand "><i class="iconback" uk-icon="icon:arrow-left; ratio:1.2 " onClick="history.go(-1)"></i>
      Programa de Fidelidade
    </h2>
    <ul  uk-tab="swiping: false"  class="uk-tab">
      <li  class="uk-active"><a routerLink="/Config/Point/Create" >Cartão fidelidade</a></li>      
      <li><a routerLink="/Config/ListAward/Index">prêmios</a></li> 
    </ul>
    <router-outlet></router-outlet>

     </div>
</div>