<div class="uk-container uk-margin-top">
  <div class="uk-child-width-1-2@m" uk-grid>
    <app-point></app-point>
    <app-rescue></app-rescue>
  </div>
  <div class="uk-width-1-1@m uk-card uk-card-default uk-card-body uk-margin-top" >
    
    <table class="uk-table">
      <caption>Prêmios</caption>
      <thead>
          <tr>
              <th>Table Heading</th>
              <th>Table Heading</th>
              <th>Table Heading</th>
          </tr>
      </thead>
      <tfoot>
          <tr>
              <td>Table Footer</td>
              <td>Table Footer</td>
              <td>Table Footer</td>
          </tr>
      </tfoot>
      <tbody>
          <tr>
              <td>Table Data</td>
              <td>Table Data</td>
              <td>Table Data</td>
          </tr>
          <tr>
              <td>Table Data</td>
              <td>Table Data</td>
              <td>Table Data</td>
          </tr>
      </tbody>
  </table>
  
  </div>
</div>
