<!-- <div>
      <h3 class="uk-card-title-small ukh3 "> <a  class="iconback" uk-icon="icon:arrow-left; ratio:1.2 " onClick="history.go(-1)  "></a>
    
          Alterar Automação
        </h3>
      <hr> -->
      <div class="uk-container">

         <div class="uk-position-top-right uk-overlay " style="margin-top: -10px;">       
             <p uk-margin>
                <!-- <a type="button" (click)="Delete()" uk-tooltip="title: Deletar; pos: bottom"><i class="uk-buttonDelte" uk-icon="icon:trash; ratio: 1.1"></i></a> -->
                <a type="button" (click)="alertDesableAutomation()" uk-tooltip="title: Desativar; pos: bottom"><i class="uk-buttonDisable" uk-icon="icon: ban; ratio: 1.1 "></i></a>                    
             </p>        
          </div>



            <div>
              <form [formGroup]="form" class="uk-form-stacked ">
                <div class="uk-grid uk-grid-large uk-child-width-expand@s " uk-grid>
                  <div hidden class="uk-margin">
                    <input class="uk-input uk-form-default uk-padding" type="number" formControlName="id">
                  </div>

                  <div class="uk-width-1-4@s">
                    <label class="uk-form-label" for="form-stacked-select"  style="font-weight: 500;">Tipo Automação</label>
                    <div class="uk-form-controls" >
                      <select  id="form-stacked-select" class="uk-select" formControlName="tipoAutomacao"  (change)="selectInput($event)">
                        <option>Selecione uma opção</option>
                        <option value="Aniversariante">Especial de aniversário</option>
                        <option value="Dia do Mes">Dia do mês</option>
                        <option value="Dia da semana">Em um dia da semana</option>
                        <option value="Quinze dias" >Não compram a 15 dias</option>
                        <option value="Trinta dias" >Não compram a 1 mês</option>
                        <option value="Ultima fidelizacao" >Apos ultima fidelização</option>
                        <!-- <option value="Em Risco">Clientes em risco</option> -->
                        <!-- <option value="">Apos se torna Prata</option>
                        <option value="">Apos se torna Bronze</option> -->
                      </select>
                    </div>
                  </div>
        
                  <div class="uk-width-1-4@s"  *ngIf="isdDisableSelected">
                    <label class="uk-form-label" for="form-stacked-select"  style="font-weight: 500;">Perfil</label>
                    <div class="uk-form-controls">
                      <select class="uk-select" formControlName="segmentacao"  id="form-stacked-select">
                        <option></option>
                        <option value="Todos">Todos</option>
                        <option value="Novo">Novo</option>
                        <option value="Vip">Vip</option>
                        <option value="Eventual">Eventual</option>
                        <option value="Frequente">Frequente</option>
                      </select>
                    </div>
                  </div>
        
                  <div class="uk-width-1-4@s"  *ngIf="isdDisableSelected">
                    <label class="uk-form-label" for="form-stacked-select"  style="font-weight: 500;">Seg.Customizado</label>
                    <div class="uk-form-controls">
                      <select class="uk-select" id="form-stacked-select" formControlName="segCustomizado" >
                        <option></option>
                        <option value="Ativo">Ativo</option>
                        <option value="Ouro">Ouro</option>
                        <option value="Prata">Prata</option>
                        <option value="Bronze">Bronze</option>
                        <!-- <option value="Em Risco">Em Risco</option> -->
                        <!-- <option value="Inativo">Inativo</option> -->
                      </select>
                    </div>
                  </div>
        
                  </div>
        
                <br>
        
                <div  class="uk-width-1-5@s" *ngIf="isAniversarioSelected" >
                  <label class="uk-form-label" for="form-stacked-text"  style="font-weight: 500;">Dias Antes do Aniversário  <a uk-tooltip="Crie uma oferta para que seu cliente venha celebrar o aniversário com você." uk-icon="icon: info; ratio: 1"></a></label>
                  <div class="uk-form-controls">
                    <input class="uk-input "  id="form-stacked-text" type="number" formControlName="diasAntesAniversario" 
                      placeholder="Exemplo: 7">
                  </div>
                </div>
        
                <div  class="uk-width-1-5@s" *ngIf="isDiaMesSelected" >
                  <label class="uk-form-label" for="form-stacked-text"  style="font-weight: 500;">Dia do Mês  <a uk-tooltip="Crie Campanha no modo automatico em Datas Especiais." uk-icon="icon: info; ratio: 1"></a></label>
                  <div class="uk-form-controls">
                    <input class="uk-input "  id="form-stacked-text" type="number" formControlName="tempoPorDiaDoMes" 
                      placeholder="Digite o dia do Mês">
                  </div>
                </div>
        
                <div class="uk-width-1-5@s" *ngIf="isDiaSemanaSelected">
                  <label class="uk-form-label" for="form-stacked-text"  style="font-weight: 500;">Dia da Semana  <a uk-tooltip="Crie uma campanha pra se enviada em um dia da semana." uk-icon="icon: info; ratio: 1"></a></label>
                  <div class="uk-form-controls">
                    <select class="uk-select" id="form-stacked-select" formControlName="tempoPorDiaDaSemana" >
                      <option>Selecione uma opção</option>
                      <option value="Segunda-feira">Segunda-feira</option>
                      <option value="Terça-feira">Terça-feira</option>
                      <option value="Quarta-feira">Quarta-feira</option>
                      <option value="Quinta-feira">Quinta-feira</option>
                      <option value="Sexta-feira">Sexta-feira</option>
                      <option value="Sabado">Sábado</option>
                      <option value="Domingo">Domingo</option>
                    </select>
                  </div>
                </div>
        
                <div  class="uk-width-1-5@s" *ngIf="isUltimaFidelizacaoSelected" >
                  <label class="uk-form-label" for="form-stacked-text"  style="font-weight: 500;"> Quantos dias? <a uk-tooltip="Determine a quantidade de dias para enviar uma mensagem.." uk-icon="icon: info; ratio: 1"></a></label>
                  <div class="uk-form-controls">
                    <input class="uk-input "  id="form-stacked-text" type="number" formControlName="tempoPorDia" 
        
                      placeholder="exemplo: 60 ">
                  </div>
                </div>
        
             
        
                <div class="uk-alert-warning" uk-alert>
                  <p><i class="fas fa-exclamation-triangle"></i> Evite utilizar acentos e caracteres especiais na mensagem abaixo.</p>
                </div>
             
        
                <div class="uk-margin">
                  <label class="uk-form-label" for="form-stacked-text"  style="font-weight: 500;"> Qual mensagem deseja enviar?</label>
                  <textarea class="uk-textarea" rows="5" formControlName="conteudo" placeholder="Digite sua mensagem com até 160 "></textarea>
                </div>
        
                <!-- <div class="uk-text-left">
                  <button class="uk-button buttonSMS" routerLink="/Message/Index"> <i uk-icon="icon: commenting; ratio: 1.1">
                    </i> Mensagem Pronta</button>
                </div> -->
                <hr>
                <div class="uk-text-right"> 
                    <button class="uk-button BotaoSucesso uk-border-rounded" (click)="submit()"><i
                        uk-icon="icon: check; ratio: 1.1"></i>Salvar</button>
                </div>        
            </form>
          <!-- </div> -->
      
      </div>