<div class="uk-container">
    <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m  line-borderleft uk-margin-top">
      <h2 class="uk-card-title-small ukh3 uk-expand "><i class="iconback" uk-icon="icon:arrow-left; ratio:1.2 " onClick="history.go(-1)"></i>
        Marketing
      </h2>
      <ul  uk-tab="swiping: false"  class="uk-tab">
        <li  class="uk-active"><a routerLink="/Marketing/Campaign" >Campanhas</a></li>      
        <li><a routerLink="/Marketing/Automation">Automações</a></li> 
      </ul>
      <router-outlet></router-outlet>
  
       </div>
  </div>