<div>
<div class="uk-card uk-card-default uk-card-body line-borderleft  ">
  <h2 class="uk-card-title-small ukh3 uk-expand "><i class="iconback" uk-icon="icon:arrow-left; ratio:1.2 "
    onClick="history.go(-1)"></i>
    Pontuar
</h2>
  

  <form [formGroup]="form" class="uk-form-stacked">

    <div class="uk-margin">
      <label class="uk-form-label" for="form-stacked-text">Contato (Celular)</label>
      <div class="uk-inline">
      <div class="uk-form-controls">
        <a class="uk-form-icon"><i class="material-icons">contact_phone</i></a>     
        <input class="uk-input  uk-form-large uk-form-width-large" mask="(00) 00000-0000" formControlName="Telefone" id="form-stacked-text" type="text"
          placeholder="Digite o celular do cliente">
      </div>
      </div>
    </div>
    

    <div class="uk-margin">
      <label class="uk-form-label" for="form-stacked-text">Valor da Compra</label>
      <div class="uk-inline">
        <div class="uk-form-controls">
          <a class="uk-form-icon"><i class="material-icons">monetization_on</i></a>  
        <input class="uk-input uk-form-large uk-form-width-large"  formControlName="ValorInfor" id="form-stacked-text" type="number"
          placeholder="Digite o valor da compra">
      </div>
    </div>
    </div>

    <button class="uk-button uk-button-primary buttonSave" (click)="Submit()">Pontuar</button>
  </form>
</div>
</div>