<div class="uk-container uk-margin-top ">

  <app-carregar *ngIf="carregando"></app-carregar>
  <div class="uk-card uk-card-default uk-card-body ">
    <div uk-grid>
      <div class="uk-width-expand">
          <h3 class="uk-card-title-small ukh3 uk-expand "><i class="iconback"
                  uk-icon="icon:arrow-left; ratio:1.2 " onClick="history.go(-1)"></i>
              Perfil
          </h3>

          
      </div>
      <div class="uk-width-auto"> <button  class="  uk-aling-right card-round  uk-button-small uk-border-rounded"   
        uk-icon="icon: user; ratio: 1 "
        routerLink="/resetAccount" style="  
        border: 2px solid rgba(170, 11, 175, 0.863);
        color:  white;
        font-size: 16px;
        padding: 4px 5px 4px;
        box-shadow: 0px 3px 4px 0px rgba(192, 7, 177, 0.295);
        background-image: linear-gradient(to right, rgba(170, 11, 175, 0.863) 15%, rgba(170, 11, 175, 0.863));"> Alterar Conta </button>        
        
        <!-- <font style="vertical-align: inherit;">O EMAIL</font> -->
        </div>
      </div>
      <hr>
    
  <form [formGroup]="form" *ngIf="!carregando" class="uk-grid-small" uk-grid>
       
    <div class="uk-width-1-2@s">
      <label class="uk-form-label" style="font-weight: 500;">Email</label>
      <input class="uk-input uk-form-large " formControlName="Email" type="text"
        [ngClass]="{'uk-form-danger': (!form.controls.Email.valid && !form.controls.Email.pristine) }"
        placeholder="Email">
    </div>
    <div class="uk-width-1-2@s">
      <label class="uk-form-label" style="font-weight: 500;">Nome Fantasia</label>
      <input class="uk-input uk-form-large " type="text" formControlName="NomeFantasia"
        [ngClass]="{'uk-form-danger': (!form.controls.NomeFantasia.valid && !form.controls.NomeFantasia.pristine) }"
        placeholder="Nome Comercial">
    </div>

    <div class="uk-width-1-1@s">
      <label class="uk-form-label" style="font-weight: 500;">Descrição</label>
      <textarea class="uk-textarea uk-form-large" rows="5"type="text" formControlName="Descricao"
        [ngClass]="{'uk-form-danger': (!form.controls.Descricao.valid && !form.controls.Descricao.pristine)}"
        placeholder="ex: somos um restaurante com mais de 7 anos de experiência. usamos sempre produtos de qualidade."></textarea>
    </div>
    <div class="uk-width-1-2@s">
      <label class="uk-form-label" style="font-weight: 500;">Nome Responsavel</label>
      <input class="uk-input uk-form-large " type="text" formControlName="NomeResponsavel"
        [ngClass]="{'uk-form-danger': (!form.controls.NomeResponsavel.valid && !form.controls.NomeResponsavel.pristine) }"
        placeholder="Nome Responsável">
    </div>

    <div class="uk-width-1-2@s">
      <label class="uk-form-label" style="font-weight: 500;">Numero do whatsapp</label>
      <input class="uk-input uk-form-large" mask="(00) 0000-0000" type="text" formControlName="Telefone"
        [ngClass]="{'uk-form-danger': (!form.controls.Telefone.valid && !form.controls.Telefone.pristine) }"
        placeholder="Contato whatsapp">
    </div>
    <div class="uk-width-1-2@s">
      <label class="uk-form-label" style="font-weight: 500;">Documento</label>
      <input class="uk-input uk-form-large" type="text" formControlName="Documento"
        [ngClass]="{'uk-form-danger': (!form.controls.Documento.valid && !form.controls.Documento.pristine) }"
        placeholder="CNPJ do seu negócio ou seu CPF como pessoa fisica">
    </div>
    <div class="uk-width-1-2@s">
      <label class="uk-form-label" style="font-weight: 500;">Seguimento</label>
      <input class="uk-input uk-form-large" type="text" formControlName="Seguimento"
        [ngClass]="{'uk-form-danger': (!form.controls.Seguimento.valid && !form.controls.Seguimento.pristine) }"
        placeholder="Seguimentos">
    </div>
    <div class="uk-width-1-2@s">
      <label class="uk-form-label" style="font-weight: 500;">Horario</label>
      <input class="uk-input uk-form-large" type="text" formControlName="Horario"
        [ngClass]="{'uk-form-danger': (!form.controls.Horario.valid && !form.controls.Horario.pristine) }"
        placeholder="Horario de Atendimento">
    </div>
    <div class="uk-width-1-2@s">
      <label class="uk-form-label" style="font-weight: 500;">Facebook</label>
      <input class="uk-input uk-form-large" type="text" formControlName="Facebook"
        [ngClass]="{'uk-form-danger': (!form.controls.Facebook.valid && !form.controls.Facebook.pristine) }"
        placeholder="Link do seu Facebook">
    </div>
    <div class="uk-width-1-2@s">
      <label class="uk-form-label" style="font-weight: 500;">Instagram</label>
      <input class="uk-input uk-form-large" type="text" formControlName="Instagram"
        [ngClass]="{'uk-form-danger': (!form.controls.Instagram.valid && !form.controls.Instagram.pristine) }"
        placeholder="Link do seu Instagram">
    </div>
    <div class="uk-width-1-2@s">
      <label class="uk-form-label" style="font-weight: 500;">Link do Site</label>
      <input class="uk-input uk-form-large" type="text" formControlName="WebSite"
        [ngClass]="{'uk-form-danger': (!form.controls.WebSite.valid && !form.controls.WebSite.pristine) }"
        placeholder="Link do seu Website">
    </div>
    <div class="uk-width-1-2@s">
      <label class="uk-form-label" style="font-weight: 500;">Link do Delivery</label>
      <input class="uk-input uk-form-large" type="text" formControlName="Delivery"
        [ngClass]="{'uk-form-danger': (!form.controls.Delivery.valid && !form.controls.Delivery.pristine) }"
        placeholder="Link da Delivery">
    </div>
    <div class="uk-width-1-2@s">
      <label class="uk-form-label" style="font-weight: 500;">Bairro</label>
      <input class="uk-input uk-form-large" type="text" formControlName="Bairro"
        [ngClass]="{'uk-form-danger': (!form.controls.Bairro.valid && !form.controls.Bairro.pristine) }"
        placeholder="Bairro">
    </div>
    <div class="uk-width-1-2@s">
      <label class="uk-form-label" style="font-weight: 500;">Rua</label>
      <input class="uk-input uk-form-large" type="text" formControlName="Rua"
        [ngClass]="{'uk-form-danger': (!form.controls.Rua.valid && !form.controls.Rua.pristine) }" placeholder="Rua">
    </div>
    <div class="uk-width-1-2@s">
      <label class="uk-form-label" style="font-weight: 500;">Numero</label>
      <input class="uk-input uk-form-large" type="text" formControlName="Numero"
        [ngClass]="{'uk-form-danger': (!form.controls.Numero.valid && !form.controls.Numero.pristine) }"
        placeholder="Numero de endereço">
    </div>
    <div class="uk-width-1-3@s">
      <label class="uk-form-label" style="font-weight: 500;">Cep</label>
      <input class="uk-input uk-form-large" mask="00000-000" type="text" formControlName="Cep"
        [ngClass]="{'uk-form-danger': (!form.controls.Cep.valid && !form.controls.Cep.pristine) }" placeholder="Cep">
    </div>
    <div class="uk-width-1-3@s">
      <label class="uk-form-label" style="font-weight: 500;">Cidade</label>
      <input class="uk-input uk-form-large" type="text" formControlName="Cidade"
        [ngClass]="{'uk-form-danger': (!form.controls.Cidade.valid && !form.controls.Horario.pristine) }"
        placeholder="Cidade">
    </div>
    <div class="uk-width-1-3@s">
      <label class="uk-form-label" style="font-weight: 500;">Estado</label>
      <select class="uk-select uk-form-large" type="text" formControlName="Estado" placeholder="Estado">
        <option value="">Selecione o seu Estado</option>
        <option>Acre (AC)
        <option>Alagoas (AL)</option>
        <option>Amapá (AP)</option>
        <option>Amazonas (AM)</option>
        <option>Bahia (BA)</option>
        <option>Ceará (CE)</option>
        <option>Distrito Federal (DF)</option>
        <option> Santo (ES)</option>
        <option>Goiás (GO)</option>
        <option>Maranhão (MA)</option>
        <option>Mato Grosso (MT)</option>
        <option>Mato Grosso do Sul (MS)</option>
        <option> Gerais (MG)</option>
        <option>Pará (PA) </option>
        <option>Paraíba (PB)</option>
        <option>Paraná (PR)</option>
        <option>Pernambuco (PE)</option>
        <option>Piauí (PI)</option>
        <option>Rio de Janeiro (RJ)</option>
        <option>Rio Grande do Norte (RN)</option>
        <option>Rio Grande do Sul (RS)</option>
        <option>Rondônia (RO)</option>
        <option>Roraima (RR)</option>
        <option>Santa Catarina (SC)</option>
        <option>São Paulo (SP)</option>
        <option>Sergipe (SE)</option>
        <option>Tocantins (TO)</option>
      </select>
    </div>

    <div class="uk-width-1-1@s">
      <label class="uk-form-label" style="font-weight: 500;">Complemento</label>
      <input class="uk-input uk-form-large" type="text" formControlName="Complemento" placeholder="Complemento">
    </div>


    <!-- <div class="js-upload uk-align-left" uk-form-custom>
      <input type="file" (change)="onUploadImagem($event)" formControlName="Logo">
    
      <button
        class="uk-button uk-button-primary uk-button-small  uk-margin-small-right  uk-margin-small-   uk-border-rounded"
        type="button" tabindex="-1">Anexa Logo Marca</button>
        <span>{{selectedFile.name}}</span>
       
    </div> -->
    <div class="uk-text-right">    
      <button class=" uk-button  uk-border-rounded BotaoSucesso" (click)="Submit()">Salvar</button>
    </div>
  </form>

</div>


</div>


