
        <div uk-grid>
            <div class="uk-width-expand">
      
            </div>
            <div class="uk-width-auto"> 
                <button class=" btn-custom  uk-button uk-link uk-aling-center-right" type="button"
                uk-tooltip="title: Nova Automação"  routerLink="/Marketing/Automation/Create"> <i uk-icon="icon: plus-circle; ratio: 1.4 "></i>Nova Campanha</button>              
            </div>
        <!-- <div *ngIf="!existList()">
            <span class="uk-text-center" colspan="5">
              <p >Comece</p>
            </span>
          </div> -->


              
                <!-- <p class="uk-column-span">
                    <strong>Tipo:</strong><span>item.Tipo</span><span *ngIf="ListAutomation.Ativo==1">item.Ativo</span>                     
                </p> --> 

 
        <div class="uk-card" *ngFor="let item of ListAutomation$ | async">
            <div class="uk-grid uk-grid-large uk-child-width-expand@s uk-margin-remove-bottom " uk-grid>

                <dl class="uk-description-list uk-description-list-divider ">
                    <dt><strong
                            class="uk-heading-small uk-width-medium uk-scrollspy-inview uk-animation-slide-right-medium"
                            uk-scrollspy-class>Tipo:</strong></dt>
                    <dd>
                        <h4 class="uk-heading-small uk-width-medium uk-scrollspy-inview uk-animation-slide-right-medium"
                            uk-scrollspy-class>{{item.TipoAutomacao}}</h4>
                        <div class="uk-divider-small uk-scrollspy-inview uk-animation-slide-bottom-medium"></div>
                    </dd>
                </dl>

                <dl class="uk-description-list uk-description-list-divider">
                    <dt><strong>Perfil:</strong></dt>
                    <dd>{{item.Segmento}},{{item.SegCustomizado}}</dd>
                </dl>

                <dl class="uk-description-list uk-description-list-divider">
                    <dt><strong>Seg.Customizado:</strong></dt>
                    <dd>{{item.SegCustomizado}},{{item.SegCustomizado}}</dd>
                </dl>

                <dl class="uk-description-list uk-description-list-divider">
                    <dt><strong>Status:</strong></dt>
                    <dd>{{item.Estado}},{{item.Estado}}</dd>
                </dl>


                <dl class="uk-description-list uk-description-list-divider">
                    <dt><strong>Forma de Envio:</strong></dt>
                    <dd>{{item.TipoCanal}}</dd>
                </dl>

            </div>
            <hr>

            <div class="uk-panel uk-width-1-2 uk-text-left">

                <div class="uk-margin-large uk-text-center">
                    <div class="uk-child-width-1-1 uk-child-width-1-4@s uk-grid-divider uk-grid-match uk-grid uk-grid-stack"
                        uk-grid>

                        <div class="uk-first-column">
                            <div class="el-item uk-panel uk-margin-remove uk-scrollspy-inview uk-animation-slide-right-medium"
                                uk-scrollspy-class>
                                <h3 class=" uk-heading-small  uk-margin-remove-bottom ukh3">{{item.QtdEnviados}}</h3>
                                <div class="text-margin-top  uk-margin-remove-bottom ">SMS Enviados

                                </div>
                            </div>
                        </div>

                        <div class="uk-grid-margin uk-first-column">
                            <div class="el-item uk-panel uk-margin-remove- uk-scrollspy-inview uk-animation-slide-right-medium"
                                uk-scrollspy-class>
                                <h3 class="uk-heading-small  uk-margin-remove-bottom ukh3">{{item.ValorInvestido}}</h3>
                                <div class="text-margin-top  uk-margin-remove-bottom">Valor Investido

                                </div>
                            </div>
                        </div>

                        <div class="uk-grid-margin uk-first-column">
                            <div class="el-item uk-panel uk-margin-remove uk-scrollspy-inview uk-animation-slide-right-medium"
                                uk-scrollspy-class>
                                <h3 class="uk-heading-small uk-margin-remove-bottom ukh3">{{item.QtdRetorno}}</h3>
                                <div class=" text-margin-top uk-margin-remove-bottom">Quantidade Retorno

                                </div>
                            </div>
                        </div>

                        <div class="uk-grid-margin uk-first-column">
                            <div class="el-item uk-panel uk-margin-remove uk-scrollspy-inview uk-animation-slide-right-medium"
                                uk-scrollspy-class>
                                <h3 class="uk-heading-small uk-margin-remove-bottom ukh3" style="color:limegreen">{{ (item.Vendas/100) | currency: 'BRL'}}</h3>
                                <div class=" text-margin-top uk-margin-remove-bottom">Resultado

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-position-center-right">
                <i class="iconNext" type="button" uk-icon="icon:arrow-right; ratio: 1.4 "
                    routerLink="/Automation/Edit"></i>
            </div>
            <hr>
        </div>
