<div>
  <div class="uk-text-right">
    <!--<h4 style="text-align:left">campanha!</h4>-->
    <div class="uk-width-auto"> <i class=" btn-custom uk-link uk-aling-center-right uk-margin" type="button"
        uk-tooltip="title: Adicionar Novo" uk-icon="icon:  plus-circle; ratio: 1.4 "
        routerLink="/config/award-create"></i>

    </div>

  </div>

  <div >
    <div class="uk-overflow-auto">
      <table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
        <thead>
          <tr>
            <th>Premio</th>
            <th>Pontos</th>
        
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Award of List" class="uk-text-uppercase">
            <td>{{Award.nome}}</td>
            <td>{{Award.pontosNecessario}}</td>
           
            <td> <a routerLink="/award-edit/{{Award.id}}"  style="margin-left: 0px;"><i class=" Small material-icons" style="color:#13a8e2">edit</i></a></td>
            <td> <a (click)="Delete(Award.id)"  style="margin-left: 5x;"><i class=" Small material-icons" style="color:#c52626">delete</i></a></td>
          </tr>

          <!-- <tr *ngIf="!List">
            <h5 class="uk-text-center" >
              Adicioner Reconpensas ao seu programa de fidelidade! 😃 🎁
            </h5>
          </tr> -->

        </tbody>
      </table>

    </div>
  </div>
</div>

