.imgWith{
    width:70%;
}
.imgheigth{
    height: 40px;
    
}
.textBanner{
    font-size: 28px;
    padding-bottom: 20px;
    font-weight: 620;
    color: #bc076d;
}
.uk-card-title{
margin-top: 20px;
}
