<div class="uk-container">

        <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m uk-margin-top line-borderleft">
         


          <div uk-grid>
            <div class="uk-width-expand">
                <h2 class="uk-card-title-small ukh3 uk-expand "><i class="iconback"
                        uk-icon="icon:arrow-left; ratio:1.2 " onClick="history.go(-1)"></i>
                    Ranking de Clientes
                </h2>
            </div>
            <div class="uk-width-auto"> <i class=" uk-link uk-aling-center-right" type="button"
                    uk-tooltip="title: Criar Novo" uk-icon="icon: more-vertical; ratio: 1.4 "></i>
            </div>
        </div>
        <hr>    
    
    

              <!-- icon:arrow-left; ratio:1.2 -->


<div>
              <div class="uk-overflow-auto">
                <table class="uk-table uk-table-small uk-table-divider  uk-table-hover">
                <thead>
                  <tr>
              
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Visitas</th>
                    <th>Resgate</th>
                    <th>Saldo</th>                    
                    <th> </th>
                  </tr>
                </thead>
                <tbody>
                   
                  <tr *ngFor="let colum of ListClient$ | async">
                    <td>{{colum.nome}}</td>
                    <td>{{colum.telefone}}</td>
                    <td>{{colum.visitas}}</td>
                    <td>{{colum.resgate}}</td>
                    <td>{{colum.Saldo}}</td>
                   
                  </tr>
                </tbody>
              </table>
              </div>
           </div>
      </div>
        </div>